<div class="main-wrap">
  <div class="main-card-wrap">
    <div class="card">
      <div class="card-info">
        <h1 class="info-title">
          Выбери подарок Евочке на 1.6 годика
        </h1>
        <div class="info-photo"></div>
        <div class="info-tag">@sos_eva_korolenko</div>
      </div>
      <div class="card-content">
        <div class="toys-list toys-list-first">
          <ng-container *ngFor="let toy of toysList | evenOdd: 'odd'">
            <ng-template *ngTemplateOutlet="tplToy; context: {$implicit: toy}">
            </ng-template>
          </ng-container>
        </div>
        <div class="toys-list toys-list-last">
          <ng-container *ngFor="let toy of toysList | evenOdd: 'even'">
            <ng-template *ngTemplateOutlet="tplToy; context: {$implicit: toy}">
            </ng-template>
          </ng-container>
        </div>
        <div class="toy-item toys-box">
          <div class="donation">
            <div class="donation-title">Сумма пожертвования </div>
            <div class="donation-value">
              <span class="sum">{{donationSum}}</span>
              <span class="suffix"> грн</span>
            </div>
          </div>
          <div class="toy-image">
          </div>
        </div>
      </div>
      <div class="card-accept">
        <div
          class="button-accept"
          [class.disabled]="!donationLink"
          (click)="acceptDonation($event)">
          <a [href]="donationLink">Подарить</a>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #tplToy let-toy>
  <div
    class="toy-item"
    [class.selected]="toy.isSelected"
    (click)="toggleToy(toy)">
    <div class="toy-image" [ngStyle]="{'background-image': 'url('+ toy.imageUrl +')'}">
    </div>
    <div class="toy-price">
      {{toy.price}} грн
    </div>
  </div>
</ng-template>
