$laptopsDPI: 1280px;
$laptops: 960px;
$tablets: 768px;
$phones: 520px;
$phonesS: 420px;



@mixin laptopsDPI {
  @media screen and (min-width: $laptopsDPI) {
    @content;
  }
}

@mixin laptops {
  @media screen and (min-width: $laptops) {
    @content;
  }
}

@mixin tablets {
  @media screen and (min-width: $tablets) {
    @content;
  }
}

@mixin phones {
  @media screen and (min-width: $phones) {
    @content;
  }
}

@mixin phonesS {
  @media screen and (min-width: $phonesS) {
    @content;
  }
}
